<div class="col-lg-8 center-block">
  <div class="panel panel-default devise-bs center-block">
    <div class="panel-heading ">
      <h1><strong><%= @team.name %></strong><span class="float-right regular-text"><%= @team.status %></span></h1>
    </div>
    <div class="panel-body">
      <% if @team.date_up %>
        <div class="float-right inline"><%= @team.date_up.try(:strftime,'%b %e') %> - <%= @team.date_down.try(:strftime,'%b %e, %Y') %></div>
      <% end %>
      <p> Primary – <%= @team.get_lead %> </p>

      <p> Shared  –  <%= @team.display_shared %> </p>

      <p>Alternates  –  <%= @team.display_alternates %></p>

      <p>Trainees  –  <%= @team.display_trainees %></p>

      <% if @team.status == "Assigned" %>
        <p>
          Location  – <%= @team.location %>
        </p>

        <p>
          Incident  –   <%= @team.incident %>
        </p>
      <% end %>


      <div>
      </br>
        <%= link_to (fa_icon('pencil-alt')), edit_team_path(@team), class: "btn edit-button btn-light" %> 
      </div>

      </div>
    </div>
  </div>
</div>