<div class="col-lg-8 center-block">
  <div class="panel panel-default devise-bs center-block">
    <div class="panel-heading ">
      <h1><strong><%= @team.name %></strong><span class="float-right regular-text"><%= @team.status %></span></h1>
    </div>
    <div class="panel-body">
      <% if @team.date_up %>
        <div class="float-right inline"><%= @team.date_up.try(:strftime,'%b %e') %> - <%= @team.date_down.try(:strftime,'%b %e, %Y') %></div>
      <% end %>
      <p> Primary – <%= @team.get_lead %> </p>

      <p> Shared  –  <%= @team.display_shared %> </p>

      <% if @team.status == "Assigned" %>
        <p>
          Location  – <%= @team.location %>
        </p>

        <p>
          Incident  –   <%= @team.incident %>
        </p>
      <% end %>


    <div>
      </br>
      <%= link_to (fa_icon('pencil-alt')), edit_team_path(@team), class: "btn edit-button btn-light" %> 
    </div>
  </div>
</div>
 

  <div class="panel panel-default devise-bs center-block">
    <div class="panel-heading ">
      <h1><strong>Alternates & Trainees</strong></h1>
    </div>
    <div class="panel-body">
      <% if @team.type_1  %>
      <p>Alternates  – <%= display_type1_alternates %>
      </p>
      <% end %>

      <% if @team.type_2  %>
      <p>Alternates  – <%= display_type2_alternates %>
      </p>
      <% end %>

      <% if @team.type_1  %>
      <p>Trainees  – <%= display_type1_trainees %>
  
      </p>
      <% end %>
      
      <% if @team.type_2  %>
      <p>Trainees  – <%= display_type2_trainees %>
      </p>
      <% end %>

      <% if @team.status == "Assigned" %>
        <p>
          Location  – <%= @team.location %>
        </p>

        <p>
          Incident  –   <%= @team.incident %>
        </p>
      <% end %>


      <div>
      </div>

      </div>
    </div>
  </div>

  <!-- Current Roster Panel -->

<% if !@team.rosters.blank?  %>
  <div class="col-lg-8 center-block">
    <div class="panel panel-default devise-bs center-block">
      <div class="panel-heading ">
        <h1><strong>Current Roster</strong></h1>
      </div>
      <div class="panel-body">
        <div>
          <p> Lead – <%= @rosters.last.get_lead %> </p>

          <p> Assistant  –  <%= @rosters.last.get_assistant %> </p>
        </div>
        <div id="edit-roster-form">
          <%= form_for @roster do |f| %>
            <div class="field">
              <%= f.label :lead %>
              <%= f.select :lead, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), { prompt: "CHOOSE LEAD" }, { class: "form-control", required: true } %>
            </div>
            <div class="field">
              <%= f.label :assistant %>
              <%= f.select :assistant, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE ASSISTANT"}, { class: "form-control", required: true } %>
            </div>
            <%= f.hidden_field :team_id, value: @team.id %>
            <div>
              <%= f.submit "ADD", class: "btn btn-info btn-tiny sm-margin-top " %>
              <%= link_to "CANCEL", 'javascript:;', id: 'cancel-roster-edit', class: "btn btn-light btn-tiny sm-margin-top " %>
            </div>
          <% end %>
        </div>
      <div>
        <div>
          <%= link_to (fa_icon('pencil-alt')), 'javascript:;', id: "edit-roster-button", class: "btn edit-button btn-light" %> 
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- New Roster Panel -->

<div class="col-lg-8 center-block">
  <div class="panel panel-default devise-bs center-block">
    <div class="panel-heading ">
      <h1 id="new-roster-button"><strong>Add Roster</strong></h1>
    </div>
    <div class="panel-body">
      <div id="roster-form">
        <%= form_for @roster do |f| %>
          <div class="field">
            <%= f.label :lead %>
            <%= f.select :lead, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE LEAD"}, { class: "form-control"} %>
          </div>
          <div class="field">
            <%= f.label :assistant %>
            <%= f.select :assistant, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE ASSISTANT"}, { class: "form-control" } %>
          </div>
          <%= f.hidden_field :team_id, value: @team.id %>
          <div><%= f.submit "ADD", class: "btn btn-info btn-tiny sm-margin-top " %></div>
          
        <% end %>
      </div>
    <div>
    </div>
  </div>
</div>
   