<div class="col-lg-8 center-block">
  <div class="panel panel-default devise-bs center-block">
    <div class="panel-heading ">
      <h1><strong><%= @team.name %></strong><span class="float-right regular-text"><%= @team.status %></span></h1>
    </div>
    <div class="panel-body">
      <% if @team.date_up %>
        <div class="float-right inline"><%= @team.date_up.try(:strftime,'%b %e') %> - <%= @team.date_down.try(:strftime,'%b %e, %Y') %></div>
      <% end %>
      <p> Primary – <%= @team.get_lead %> </p>

      <p> Shared  –  <%= @team.display_shared %> </p>

      <% if @team.status == "Assigned" %>
        <p>
          Location  – <%= @team.location %>
        </p>

        <p>
          Incident  –   <%= @team.incident %>
        </p>
      <% end %>
    <div>
      <div class="message">
        <%= simple_format(@team.message) %>
      </div>
      </br>
      <%= link_to (fa_icon('pencil-alt')), edit_team_path(@team), class: "btn edit-button btn-light" %> 
    </div>
  </div>
</div>
 

  <div class="panel panel-default devise-bs center-block">
    <div id="alternates-panel" class="panel-heading slidable">
      <h1><strong>Alternates & Trainees</strong>
        <span class="float-right toggle-icon angle-up hidden"><%= fa_icon('angle-up') %></span>
        <span class="float-right toggle-icon angle-up"><%= fa_icon('angle-down') %></span>
      </h1>
    </div>
    <div class="panel-body slide-panel">
      
        <% if @team.type_1  %>
        <p>Alternates  – <%= display_alternates(@alternates.type_1) %>
        </p>
        <% end %>

        <% if @team.type_2  %>
        <p>Alternates  – <%= display_alternates(@alternates.type_2) %>
        </p>
        <% end %>

        <% if @team.type_1  %>
        <p>Trainees  – <%= display_trainees(@trainees.type_1) %>
    
        </p>
        <% end %>
        
        <% if @team.type_2  %>
        <p>Trainees  – <%= display_trainees(@trainees.type_2) %>
        </p>
        <% end %>

      <% if @team.status == "Assigned" %>
        <p>
          Location  – <%= @team.location %>
        </p>

        <p>
          Incident  –   <%= @team.incident %>
        </p>
      <% end %>


      <div>
      </div>

      </div>
    </div>
  </div>

  <!-- Current Roster Panel -->

<% if !@team.rosters.blank?  %>
  <div class="col-lg-8 center-block">
    <div class="panel panel-default devise-bs center-block">
      <div id="current-roster-panel" class="panel-heading slidable">
        <h1><strong>Current Roster</strong>
          <span class="float-right toggle-icon angle-up hidden"><%= fa_icon('angle-up') %></span>
        <span class="float-right toggle-icon angle-up"><%= fa_icon('angle-down') %></span>
        </h1>
      </div>
      <div class="panel-body slide-panel">
        <div>
          <p class='edit-roster-link'> Lead – <%= @rosters.last.get_lead %> </p>

          <p class='edit-roster-link'> Assistant  –  <%= @rosters.last.get_assistant %> </p>
        </div>
        <div>
          <% @rosters.last.rostered_resources.each do |rr|  %>
            <p><%= rr.user.full_name %></p>
          <% end %>
        </div>
        <div id="edit-roster-form">
          <%= form_for @roster do |f| %>
            
              <%= f.label :lead %>
              <%= f.select :lead, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), { prompt: "CHOOSE LEAD" }, { class: "form-control", required: true } %>
           
              <%= f.label :assistant %>
              <%= f.select :assistant, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE ASSISTANT"}, { class: "form-control", required: true } %>
           
            <%= f.hidden_field :team_id, value: @team.id %>
            
              <%= f.submit "ADD", class: "btn btn-info btn-tiny sm-margin-top " %>
              <%= link_to "CANCEL", 'javascript:;', id: "cancel-roster-edit", class: "btn btn-light btn-tiny sm-margin-top " %>
            
          <% end %>
        </div>
        
          <%= link_to "ADD TO ROSTER", 'javascript:;', id: 'add-to-roster', class: "btn add-link btn-tiny sm-margin-top " %>
        <div id="add-rostered-resource">
          <%= form_for @rostered_resource do |rr| %>
            <%= rr.select :user_id, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE RESOURCE"}, { class: "form-control", required: true } %>
            <%= rr.hidden_field :roster_id, value: @rosters.last.id %>
            <%= rr.submit "ADD", class: "btn btn-info btn-tiny sm-margin-top " %>
            <%= link_to "CANCEL", 'javascript:;', id: 'cancel-add-rostered', class: "cancel-form btn btn-light btn-tiny sm-margin-top " %>
          <% end %>
        </div>
      <div>
        <div>
          <%#= link_to (fa_icon('pencil-alt')), 'javascript:;', id: "edit-roster-button", class: "btn edit-button btn-light" %> 
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- New Roster Panel -->

<div class="col-lg-8 center-block">
  <div class="panel panel-default devise-bs center-block">
    <div id="new-roster-panel" class="panel-heading slidable">
      <h1 id="new-roster-button"><strong>New Roster</strong>
        <span class="float-right toggle-icon angle-down"><%= fa_icon('angle-down') %></span>
        <span class="float-right toggle-icon angle-up hidden"><%= fa_icon('angle-up') %></span>
      </h1>
    </div>
    <div class="panel-body slide-panel">
      <div id="roster-form">
        <%= form_for @roster do |f| %>
          <div class="field">
            <%= f.label :lead %>
            <%= f.select :lead, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE LEAD"}, { class: "form-control"} %>
          </div>
          <div class="field">
            <%= f.label :assistant %>
            <%= f.select :assistant, options_for_select(User.all.collect { | user | [user.full_name, user.id] }), {prompt: "CHOOSE ASSISTANT"}, { class: "form-control" } %>
          </div>
          <%= f.label "Status Dates" %>
          <div class="row">
            
            <div class="field col-xs-6">
              <%= f.text_field :start_date, id: :roster_start_date, :data => {:provide => "datepicker"}, class: "form-control", placeholder: "START DATE" %>
              <!-- <span class="input-group-addon">to</span> -->
            </div>
            <div class="field col-xs-6">
              <%= f.text_field :end_date, id: :roster_end_date, :data => {:provide => "datepicker"}, class: "form-control", placeholder: "END DATE" %>
              
            </div>
          </div>

          <%= f.hidden_field :team_id, value: @team.id %>
          <div><%= f.submit "ADD", class: "btn btn-info btn-tiny sm-margin-top " %>  <%= link_to "CANCEL", 'javascript:;', id: 'cancel-new-roster', class: "cancel-form btn btn-light btn-tiny sm-margin-top " %>
            
          </div>
          
        <% end %>
      </div>
    <div>
    </div>
  </div>
</div>
   