<p id="notice"><%= notice %></p>

<h1>Rostered Resources</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Roster</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rostered_resources.each do |rostered_resource| %>
      <tr>
        <td><%= rostered_resource.user_id %></td>
        <td><%= rostered_resource.roster_id %></td>
        <td><%= link_to 'Show', rostered_resource %></td>
        <td><%= link_to 'Edit', edit_rostered_resource_path(rostered_resource) %></td>
        <td><%= link_to 'Destroy', rostered_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rostered Resource', new_rostered_resource_path %>
